/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* line 5, ../sass/global.scss */
#page {
  background: url('../images/bg-blue-texture.png?1352738275');
  font-family: Helvetica,Arial,sans-serif !important;
}
/* line 8, ../sass/global.scss */
#page h1, #page h2, #page h3, #page h4, #page h5, #page p {
  font-family: Helvetica,Arial,sans-serif !important;
}
/* line 11, ../sass/global.scss */
#page .node-links ul li a, #page .comment-links ul li a {
  text-transform: lowercase;
  display: block;
  float: inline-block;
}
/* line 16, ../sass/global.scss */
#page .site-name {
  text-align: center;
  margin-bottom: 10px;
}
/* line 19, ../sass/global.scss */
#page .site-name a {
  color: #001937;
}
/* line 21, ../sass/global.scss */
#page .site-name a:hover {
  color: #001a00;
}
/* line 24, ../sass/global.scss */
#page .site-name a:active {
  color: #00e600;
}
/* line 30, ../sass/global.scss */
#page .pager li.pager-first a, #page .pager li.pager-previous a, #page .pager li.pager-next a, #page .pager li.pager-last a {
  width: 60px;
}
/* line 34, ../sass/global.scss */
#page #zone-postscript-second-wrapper {
  background: url('../images/grass.png?1352589416');
  min-height: 70px;
}
/* line 38, ../sass/global.scss */
#page #zone-footer-wrapper {
  background: url('../images/dirt.png?1352590459');
  position: relative;
  z-index: 2;
  background-repeat: repeat;
  min-height: 150px;
}

/* line 47, ../sass/global.scss */
#page-title {
  -webkit-box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
  background-color: #8ec74a;
}

/* line 51, ../sass/global.scss */
.node-title {
  background-color: #5d2c0f;
}
/* line 53, ../sass/global.scss */
.node-title a {
  color: white;
}
/* line 55, ../sass/global.scss */
.node-title a:visited {
  color: white;
}
/* line 58, ../sass/global.scss */
.node-title a:hover {
  color: #8ec74a;
}

/* line 64, ../sass/global.scss */
.node-title, #page-title {
  text-align: center;
}
/* line 66, ../sass/global.scss */
.node-title a, #page-title a {
  text-align: center;
  text-decoration: none;
}

/* line 73, ../sass/global.scss */
.front .node-title {
  background-color: #8ec74a;
}
/* line 75, ../sass/global.scss */
.front .node-title a {
  color: black;
}
/* line 77, ../sass/global.scss */
.front .node-title a:visited {
  color: black;
}
/* line 80, ../sass/global.scss */
.front .node-title a:hover {
  color: #5d2c0f;
}
/* line 85, ../sass/global.scss */
.front .region-preface-second-inner {
  display: none;
}
/* line 88, ../sass/global.scss */
.front .views-row {
  border-bottom: 4px solid #044A75;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
/* line 92, ../sass/global.scss */
.front .views-row.views-row-last {
  border-bottom: none;
}

/* line 99, ../sass/global.scss */
.region-preface-first-inner, .region-preface-second-inner, .region-preface-third-inner, .region-content-inner, .region-postscript-first-inner, .region-postscript-second-inner, .region-postscript-third-inner, .region-sidebar-second .block, .region-sidebar-first .block {
  padding: 5px 15px;
  background-color: white;
  border-radius: 12px 12px 12px 12px;
  border: 10px solid #044a75;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
/* line 106, ../sass/global.scss */
.region-preface-first-inner .block, .region-preface-second-inner .block, .region-preface-third-inner .block, .region-content-inner .block, .region-postscript-first-inner .block, .region-postscript-second-inner .block, .region-postscript-third-inner .block, .region-sidebar-second .block .block, .region-sidebar-first .block .block {
  margin-bottom: 20px;
}
/* line 109, ../sass/global.scss */
.region-preface-first-inner .block-title, .region-preface-second-inner .block-title, .region-preface-third-inner .block-title, .region-content-inner .block-title, .region-postscript-first-inner .block-title, .region-postscript-second-inner .block-title, .region-postscript-third-inner .block-title, .region-sidebar-second .block .block-title, .region-sidebar-first .block .block-title {
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

/* line 117, ../sass/global.scss */
.region-preface-first-inner, .region-preface-second-inner, .region-preface-third-inner, .region-postscript-first-inner, .region-postscript-second-inner, .region-postscript-third-inner {
  margin: 20px 0;
}

/* line 123, ../sass/global.scss */
.node-service-page .field-name-field-image {
  float: left;
  margin: 5px 10px;
}

/* line 130, ../sass/global.scss */
.view-services .views-row {
  width: 98%;
  margin: 10px 1%;
  float: left;
}
/* line 134, ../sass/global.scss */
.view-services .views-row .field-name-field-image {
  float: left;
  margin: 5px 10px;
}
/* line 138, ../sass/global.scss */
.view-services .views-row .links {
  float: right;
}

/* line 147, ../sass/global.scss */
.node-webform {
  font-size: 110%;
}
/* line 149, ../sass/global.scss */
.node-webform input {
  max-width: 100%;
}

/* line 156, ../sass/global.scss */
.node-blog img {
  max-width: 100%;
  height: auto;
}
/* line 161, ../sass/global.scss */
.node-blog #upper, .node-blog #middle, .node-blog #bottom {
  clear: both;
}
/* line 165, ../sass/global.scss */
.node-blog .field-name-field-top-left-image, .node-blog .field-name-field-middle-left-image, .node-blog .field-name-field-bottom-left-image {
  float: left;
  max-width: 20%;
  margin: 10px;
}
/* line 171, ../sass/global.scss */
.node-blog .field-name-body, .node-blog .field-name-field-middle-content, .node-blog .field-name-field-bottom-content {
  padding-top: 10px;
}
/* line 175, ../sass/global.scss */
.node-blog .field-name-field-top-right-image, .node-blog .field-name-field-middle-right-image, .node-blog .field-name-field-bottom-right-image {
  float: right;
  max-width: 20%;
  margin: 10px;
}

/* line 185, ../sass/global.scss */
.page-portfolio #page-title {
  display: none;
}
/* line 188, ../sass/global.scss */
.page-portfolio .region-content-inner {
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 196, ../sass/global.scss */
.view-portfolio .node-case-study {
  padding: 5px;
  border: 3px inset #044A75;
  background-color: #033452;
  border-radius: 7px;
}
/* line 202, ../sass/global.scss */
.view-portfolio .node-title {
  -webkit-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  margin-bottom: 8px;
  padding: 0 5px;
  background-color: #fafafa;
}
/* line 208, ../sass/global.scss */
.view-portfolio img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}

/* line 5, ../sass/_team.scss */
.node-type-team-member .region-preface-second-inner, .page-node-1 .region-preface-second-inner {
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 9, ../sass/_team.scss */
.node-type-team-member .region-preface-second-inner .field-name-field-picture, .page-node-1 .region-preface-second-inner .field-name-field-picture {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url("../images/desaturate.svg#greyscale");
  -webkit-transition: filter, 1s;
  -moz-transition: filter, 1s;
  -o-transition: filter, 1s;
  transition: filter, 1s;
}
/* line 18, ../sass/_team.scss */
.node-type-team-member .region-preface-second-inner .field-name-field-picture.active, .page-node-1 .region-preface-second-inner .field-name-field-picture.active {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

/* line 32, ../sass/_team.scss */
#block-views-the-team-block {
  margin-top: 15px;
  margin-bottom: 0px;
}
/* line 35, ../sass/_team.scss */
#block-views-the-team-block header {
  display: none;
}
/* line 38, ../sass/_team.scss */
#block-views-the-team-block .block-inner {
  text-align: center;
}
/* line 40, ../sass/_team.scss */
#block-views-the-team-block .block-inner .content {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 44, ../sass/_team.scss */
#block-views-the-team-block .block-inner .content .views-row {
  float: left;
  margin: 0 10px;
}
/* line 47, ../sass/_team.scss */
#block-views-the-team-block .block-inner .content .views-row .node-title {
  font-size: 110%;
  margin-bottom: 0;
}
/* line 51, ../sass/_team.scss */
#block-views-the-team-block .block-inner .content .views-row img {
  max-width: 100%;
  height: auto;
}
