/* This file will hold styles that are loaded using the same media query as the wide grid. */
/* line 4, ../sass/spyder-byte-design-alpha-default-wide.scss */
#page #page-title {
  width: 106%;
  margin-left: -3%;
}

/* line 12, ../sass/spyder-byte-design-alpha-default-wide.scss */
.front #block-views-front-page-drop-block-block .node-title {
  width: 116%;
  margin-left: -8%;
}
/* line 18, ../sass/spyder-byte-design-alpha-default-wide.scss */
.front .region-content .node-title, .front .region-content .block-title {
  width: 108%;
  margin-left: -4%;
}
/* line 23, ../sass/spyder-byte-design-alpha-default-wide.scss */
.front .block-title {
  text-align: center;
  width: 117%;
  margin-left: -8.5%;
  -webkit-box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.5);
}
