/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */
/* line 11, ../sass/spyder-byte-design-alpha-default.scss */
#zone-branding-wrapper {
  background: url('../images/cloud.png?1352586419');
  position: relative;
  z-index: 2;
  background-position: right top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 180px;
}

/* line 22, ../sass/spyder-byte-design-alpha-default.scss */
#region-menu #main-menu {
  float: right;
  margin-bottom: 5px;
  margin-top: 15px;
}
/* line 26, ../sass/spyder-byte-design-alpha-default.scss */
#region-menu #main-menu li {
  background: url('../images/menu-underline.png?1353192829');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: 15px 20px;
}
/* line 33, ../sass/spyder-byte-design-alpha-default.scss */
#region-menu #main-menu a {
  color: #003659;
  text-decoration: none;
  font-weight: bold;
  font-size: 125%;
}
/* line 38, ../sass/spyder-byte-design-alpha-default.scss */
#region-menu #main-menu a:hover {
  color: #000022;
}
/* line 41, ../sass/spyder-byte-design-alpha-default.scss */
#region-menu #main-menu a:active {
  color: #000022;
}

/* line 48, ../sass/spyder-byte-design-alpha-default.scss */
#region-branding .site-name {
  float: right;
  margin-bottom: 0px;
}

/* line 54, ../sass/spyder-byte-design-alpha-default.scss */
.front #zone-preface-wrapper {
  background: url('../images/house.png?1353187335');
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 290px;
}
/* line 61, ../sass/spyder-byte-design-alpha-default.scss */
.front #zone-content-wrapper {
  background: url('../images/house-slice.png?1353187371');
  background-position: left;
  position: relative;
  z-index: 2;
  background-repeat: repeat-y;
  min-height: 100px;
}
/* line 70, ../sass/spyder-byte-design-alpha-default.scss */
.front #zone-postscript-wrapper {
  background: url('../images/house-slice.png?1353187371');
  background-attachment: left;
  background-repeat: repeat-y;
  min-height: 1px;
  padding-bottom: 50px;
}
/* line 78, ../sass/spyder-byte-design-alpha-default.scss */
.front #zone-postscript-second-wrapper {
  background: url('../images/grass.png?1352589416');
  position: relative;
  top: 45px;
  z-index: 1;
  min-height: 70px;
  margin-top: -70px;
}
/* line 86, ../sass/spyder-byte-design-alpha-default.scss */
.front .views-row {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
/* line 91, ../sass/spyder-byte-design-alpha-default.scss */
.front .region-preface-first-inner {
  position: relative;
  z-index: 3;
}
/* line 95, ../sass/spyder-byte-design-alpha-default.scss */
.front .region-preface-second-inner {
  display: block;
  background: none;
  border: none;
  border-radius: none;
  box-shadow: none;
}
/* line 102, ../sass/spyder-byte-design-alpha-default.scss */
.front .region-preface-second-inner #html5css3 {
  margin-top: 10px;
}
/* line 103, ../sass/spyder-byte-design-alpha-default.scss */
.front .region-preface-second-inner #drupalisawesome {
  margin-top: 70px;
}
/* line 104, ../sass/spyder-byte-design-alpha-default.scss */
.front .region-preface-second-inner #theprocess {
  margin-top: 0;
}
/* line 105, ../sass/spyder-byte-design-alpha-default.scss */
.front .region-preface-second-inner #whywerock {
  margin-top: 90px;
}
/* line 106, ../sass/spyder-byte-design-alpha-default.scss */
.front .region-preface-second-inner #technology {
  margin-top: 20px;
}
/* line 107, ../sass/spyder-byte-design-alpha-default.scss */
.front .region-preface-second-inner #aboutus {
  margin-top: 70px;
}

/* line 111, ../sass/spyder-byte-design-alpha-default.scss */
.not-front #zone-content-wrapper {
  background: url('../images/house-slice_half-size.png?1353171122');
  background-repeat: repeat-y;
  background-position: left;
}
/* line 116, ../sass/spyder-byte-design-alpha-default.scss */
.not-front #zone-preface-wrapper {
  background: url('../images/house_half-size.png?1353170375');
  min-height: 147px;
  background-position: left bottom;
  background-repeat: no-repeat;
}
/* line 121, ../sass/spyder-byte-design-alpha-default.scss */
.not-front #zone-preface-wrapper #zone-preface {
  background: url('../images/cloud-header.png?1353193211');
  min-height: 134px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 129, ../sass/spyder-byte-design-alpha-default.scss */
.not-front #zone-content-wrapper {
  background: url('../images/house-slice_half-size.png?1353171122');
  background-position: left;
  background-repeat: repeat-y;
  min-height: 200px;
}
/* line 135, ../sass/spyder-byte-design-alpha-default.scss */
.not-front #zone-postscript-wrapper {
  background: url('../images/house-slice_half-size.png?1353171122');
  background-attachment: left;
  background-repeat: repeat-y;
  min-height: 1px;
  padding-bottom: 50px;
}
/* line 142, ../sass/spyder-byte-design-alpha-default.scss */
.not-front #zone-postscript-second-wrapper {
  margin-top: -70px;
}

/* line 151, ../sass/spyder-byte-design-alpha-default.scss */
#zone-footer-wrapper {
  background: url('../images/dirt.png?1352590459');
  position: relative;
  z-index: 2;
  background-repeat: repeat;
  min-height: 150px;
}

/* line 160, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block .droplet {
  float: left;
  width: 13.5%;
  height: 105px;
  margin: 0 1%;
  position: relative;
  top: -250px;
  left: 100px;
}
/* line 170, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #aboutus {
  background: url('../images/aboutus.png?1352750612');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 173, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #aboutus.active {
  background: url('../images/aboutus-mouseover.png?1353172440');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 177, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #aboutus.rollover {
  background: url('../images/aboutus-mouseover.png?1353172440');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 183, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #html5css3 {
  background: url('../images/html5css3.png?1352749736');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 186, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #html5css3.active {
  background: url('../images/html5css3-mouseover.png?1353172433');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 190, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #html5css3.rollover {
  background: url('../images/html5css3-mouseover.png?1353172433');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 195, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #theprocess {
  background: url('../images/theprocess.png?1352748960');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 198, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #theprocess.active {
  background: url('../images/theprocess-mouseover.png?1353172453');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 202, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #theprocess.rollover {
  background: url('../images/theprocess-mouseover.png?1353172453');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 207, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #technology {
  background: url('../images/technology.png?1352749582');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 210, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #technology.active {
  background: url('../images/technology-mouseover.png?1353172465');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 214, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #technology.rollover {
  background: url('../images/technology-mouseover.png?1353172465');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 219, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #whywerock {
  background: url('../images/whywerock.png?1352749233');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 222, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #whywerock.active {
  background: url('../images/whywerock-mouseover.png?1353172459');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 226, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #whywerock.rollover {
  background: url('../images/whywerock-mouseover.png?1353172459');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 231, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #drupalisawesome {
  background: url('../images/drupalisawesome.png?1352748263');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 234, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #drupalisawesome.active {
  background: url('../images/drupalisawesome-mouseover.png?1353172447');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 238, ../sass/spyder-byte-design-alpha-default.scss */
#block-front-page-blocks-droplet-block #drupalisawesome.rollover {
  background: url('../images/drupalisawesome-mouseover.png?1353172447');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* line 246, ../sass/spyder-byte-design-alpha-default.scss */
.node-webform #webform-component-image {
  background: url('../images/500x500.gif?1352822903');
  background-size: 100% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 40%;
  margin-right: 5%;
  margin-top: 35px;
  height: 400px;
  float: right;
}
/* line 257, ../sass/spyder-byte-design-alpha-default.scss */
.node-webform .webform-component {
  max-width: 45%;
  float: left;
}
/* line 261, ../sass/spyder-byte-design-alpha-default.scss */
.node-webform #webform-component-company {
  clear: none;
}
/* line 264, ../sass/spyder-byte-design-alpha-default.scss */
.node-webform .form-submit {
  float: left;
  clear: left;
  margin-bottom: 15px;
}

/* line 3, ../sass/_case-study.scss */
.page-node .node-case-study .field-name-field-screenshot {
  float: left;
  margin-right: 15px;
  max-width: 65%;
}
/* line 7, ../sass/_case-study.scss */
.page-node .node-case-study .field-name-field-screenshot img {
  max-width: 100%;
  height: auto;
}
/* line 12, ../sass/_case-study.scss */
.page-node .node-case-study .field-name-field-testimonial {
  padding-top: 10px;
}
/* line 14, ../sass/_case-study.scss */
.page-node .node-case-study .field-name-field-testimonial .field-label {
  font-size: 125%;
}
/* line 19, ../sass/_case-study.scss */
.page-node .node-case-study .field-name-field-website {
  clear: both;
  margin-bottom: 15px;
  font-size: 150%;
}
/* line 26, ../sass/_case-study.scss */
.page-node .node-case-study .field-name-body .field-label {
  font-size: 150%;
}

/* line 3, ../sass/_service.scss */
.view-services .views-row {
  max-width: 48%;
}
