/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
/* line 13, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#zone-branding-wrapper {
  background: url('../images/cloud.png?1352586419');
  position: relative;
  z-index: 2;
  background-position: right top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 180px;
}

/* line 23, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.node-title, #page-title {
  background-color: #BDBEBF;
  text-align: center;
}
/* line 26, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.node-title a, #page-title a {
  text-align: center;
  text-decoration: none;
  color: black;
}

/* line 34, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.front #zone-preface-wrapper {
  background: url('../images/house.png?1352590018');
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 290px;
}
/* line 40, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.front #zone-content-wrapper {
  background: url('../images/house-slice.png?1352589819');
  background-position: left;
  position: relative;
  z-index: 2;
  background-repeat: repeat-y;
  min-height: 100px;
}
/* line 48, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.front #zone-postscript-wrapper {
  background: url('../images/house-slice.png?1352589819');
  background-attachment: left;
  background-repeat: repeat-y;
  min-height: 1px;
  padding-bottom: 50px;
}
/* line 55, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.front #zone-postscript-second-wrapper {
  background: url('../images/grass.png?1352589416');
  position: relative;
  top: 45px;
  z-index: 1;
  min-height: 70px;
  margin-top: -70px;
}
/* line 63, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.front .region-preface-second-inner {
  background: none;
  border: none;
  border-radius: none;
  box-shadow: none;
}
/* line 69, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.front .region-preface-second-inner #html5css3 {
  margin-top: 10px;
}
/* line 70, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.front .region-preface-second-inner #drupalisawesome {
  margin-top: 70px;
}
/* line 71, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.front .region-preface-second-inner #theprocess {
  margin-top: 0;
}
/* line 72, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.front .region-preface-second-inner #whywerock {
  margin-top: 90px;
}
/* line 73, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.front .region-preface-second-inner #technology {
  margin-top: 20px;
}
/* line 74, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.front .region-preface-second-inner #aboutus {
  margin-top: 70px;
}

/* line 78, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.not-front #zone-content-wrapper {
  background: url('../images/house-slice_half-size.png?1352755805');
  background-repeat: repeat-y;
  background-position: left;
}
/* line 83, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.not-front #zone-preface-wrapper {
  background: url('../images/house_half-size.png?1352756142');
  min-height: 147px;
  background-position: left bottom;
  background-repeat: no-repeat;
}
/* line 88, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.not-front #zone-preface-wrapper #zone-preface {
  background: url('../images/cloud-header.png?1352757290');
  min-height: 134px;
  background-size: 100% 100%;
}
/* line 94, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.not-front #zone-content-wrapper {
  background: url('../images/house-slice_half-size.png?1352755805');
  background-position: left;
  background-repeat: repeat-y;
  min-height: 200px;
}
/* line 100, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.not-front #zone-postscript-wrapper {
  background: url('../images/house-slice_half-size.png?1352755805');
  background-attachment: left;
  background-repeat: repeat-y;
  min-height: 1px;
  padding-bottom: 50px;
}
/* line 107, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.not-front #zone-postscript-second-wrapper {
  background: url('../images/grass.png?1352589416');
  min-height: 70px;
  margin-top: -70px;
}

/* line 118, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#zone-footer-wrapper {
  background: url('../images/dirt.png?1352590459');
  position: relative;
  z-index: 2;
  background-repeat: repeat;
  min-height: 150px;
}

/* line 127, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block .droplet {
  float: left;
  width: 13.5%;
  height: 100px;
  margin: 0 1%;
  position: relative;
  top: -250px;
  left: 100px;
}
/* line 137, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #aboutus {
  background: url('../images/whywerock.png?1352749233');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 140, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #aboutus.active {
  background: url('../images/whywerock-mouseover.png?1352590257');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 144, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #aboutus.rollover {
  background: url('../images/whywerock-mouseover.png?1352590257');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 150, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #html5css3 {
  background: url('../images/html5css3.png?1352749736');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 153, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #html5css3.active {
  background: url('../images/html5css3-mouseover.png?1352590235');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 157, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #html5css3.rollover {
  background: url('../images/html5css3-mouseover.png?1352590235');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 162, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #theprocess {
  background: url('../images/theprocess.png?1352748960');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 165, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #theprocess.active {
  background: url('../images/theprocess-mouseover.png?1352590278');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 169, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #theprocess.rollover {
  background: url('../images/theprocess-mouseover.png?1352590278');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 174, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #technology {
  background: url('../images/technology.png?1352749582');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 177, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #technology.active {
  background: url('../images/technology-mouseover.png?1352590224');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 181, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #technology.rollover {
  background: url('../images/technology-mouseover.png?1352590224');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 186, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #whywerock {
  background: url('../images/whywerock.png?1352749233');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 189, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #whywerock.active {
  background: url('../images/whywerock-mouseover.png?1352590257');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 193, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #whywerock.rollover {
  background: url('../images/whywerock-mouseover.png?1352590257');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 198, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #drupalisawesome {
  background: url('../images/drupalisawesome.png?1352748263');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 201, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #drupalisawesome.active {
  background: url('../images/drupalisawesome-mouseover.png?1352590300');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
/* line 205, ../sass/spyder-byte-design-alpha-default-narrow.scss */
#block-front-page-blocks-droplet-block #drupalisawesome.rollover {
  background: url('../images/drupalisawesome-mouseover.png?1352590300');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* line 213, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.node-webform #webform-component-image {
  background: url('../images/500x500.gif?1352822903');
  background-size: 100% auto;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 40%;
  margin-right: 5%;
  margin-top: 35px;
  height: 400px;
  float: right;
}
/* line 224, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.node-webform .webform-component {
  max-width: 45%;
  float: left;
}
/* line 228, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.node-webform #webform-component-company {
  clear: none;
}
/* line 231, ../sass/spyder-byte-design-alpha-default-narrow.scss */
.node-webform .form-submit {
  float: left;
  clear: left;
  margin-bottom: 15px;
}

/* line 2, ../sass/_blog.scss */
.node-blog img {
  max-width: 100%;
  height: auto;
}
/* line 7, ../sass/_blog.scss */
.node-blog #upper, .node-blog #middle, .node-blog #bottom {
  clear: both;
}
/* line 11, ../sass/_blog.scss */
.node-blog .field-name-field-top-left-image, .node-blog .field-name-field-middle-left-image, .node-blog .field-name-field-bottom-left-image {
  float: left;
  max-width: 10%;
  margin: 10px;
}
/* line 17, ../sass/_blog.scss */
.node-blog .field-name-body, .node-blog .field-name-field-middle-content, .node-blog .field-name-field-bottom-content {
  padding-top: 10px;
}
/* line 21, ../sass/_blog.scss */
.node-blog .field-name-field-top-right-image, .node-blog .field-name-field-middle-right-image, .node-blog .field-name-field-bottom-right-image {
  float: right;
  max-width: 10%;
  margin: 10px;
}

/* line 3, ../sass/_case-study.scss */
.page-node .node-case-study .field-name-field-screenshot {
  float: left;
  margin-right: 15px;
  max-width: 65%;
}
/* line 7, ../sass/_case-study.scss */
.page-node .node-case-study .field-name-field-screenshot img {
  max-width: 100%;
  height: auto;
}
/* line 12, ../sass/_case-study.scss */
.page-node .node-case-study .field-name-field-testimonial {
  padding-top: 10px;
}
/* line 14, ../sass/_case-study.scss */
.page-node .node-case-study .field-name-field-testimonial .field-label {
  font-size: 125%;
}
/* line 19, ../sass/_case-study.scss */
.page-node .node-case-study .field-name-field-website {
  clear: both;
  margin-bottom: 15px;
  font-size: 150%;
}
/* line 26, ../sass/_case-study.scss */
.page-node .node-case-study .field-name-body .field-label {
  font-size: 150%;
}

/* line 33, ../sass/_case-study.scss */
.view-portfolio .node-case-study {
  padding: 5px;
  border: 3px inset #044A75;
  background-color: #033452;
}
/* line 38, ../sass/_case-study.scss */
.view-portfolio .node-title {
  margin-bottom: 15px;
  padding: 0 5px;
  -webkit-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  background-color: #fafafa;
}
/* line 46, ../sass/_case-study.scss */
.view-portfolio img {
  max-width: 100%;
  height: auto;
  -webkit-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);
}

/* line 5, ../sass/_team.scss */
.node-type-team-member .region-preface-second-inner, .page-node-1 .region-preface-second-inner {
  border: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 9, ../sass/_team.scss */
.node-type-team-member .region-preface-second-inner .field-name-field-picture, .page-node-1 .region-preface-second-inner .field-name-field-picture {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: url("../images/desaturate.svg#greyscale");
  -webkit-transition: filter, 1s;
  -moz-transition: filter, 1s;
  -o-transition: filter, 1s;
  transition: filter, 1s;
}
/* line 18, ../sass/_team.scss */
.node-type-team-member .region-preface-second-inner .field-name-field-picture.active, .page-node-1 .region-preface-second-inner .field-name-field-picture.active {
  filter: none;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}

/* line 32, ../sass/_team.scss */
#block-views-the-team-block {
  margin-top: 15px;
  margin-bottom: 10px;
}
/* line 35, ../sass/_team.scss */
#block-views-the-team-block header {
  display: none;
}
/* line 38, ../sass/_team.scss */
#block-views-the-team-block .block-inner {
  text-align: center;
}
/* line 40, ../sass/_team.scss */
#block-views-the-team-block .block-inner .content {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 44, ../sass/_team.scss */
#block-views-the-team-block .block-inner .content .views-row {
  float: left;
  margin: 0 15px;
}
/* line 47, ../sass/_team.scss */
#block-views-the-team-block .block-inner .content .views-row .node-title {
  font-size: 110%;
  margin-bottom: 0;
}
/* line 51, ../sass/_team.scss */
#block-views-the-team-block .block-inner .content .views-row img {
  max-width: 100%;
  height: auto;
}

/* line 3, ../sass/_service.scss */
.view-services .views-row {
  max-width: 48%;
}
