

//All Team member pages & About Us Page
.node-type-team-member, .page-node-1 {
  .region-preface-second-inner {
    border: none;
    background-color: transparent;
    @include box-shadow(none);
  }
}


  //Just the block configuration
#block-views-the-team-block {
  margin-top: 15px;
  margin-bottom: 0px;
  header {
    display: none;
  }
  .block-inner {
    text-align: center;
    .content {
      display: inline-block;
      zoom:1;
      *display:inline;
      .views-row {
        float: left;
        margin: 0 10px;
        .node-title {
          font-size: 110%;
          margin-bottom: 0;
        }
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
