/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
@import "compass";

#page {
  @include background(image-url('bg-blue-texture.png'));
  font-family: Helvetica,Arial,sans-serif !important;
  h1, h2, h3, h4, h5, p {
  font-family: Helvetica,Arial,sans-serif !important;
  }
  #page-title {
    @include box-shadow(8px 8px 4px rgba(0,0,0,.5));
    background-color: rgb(142, 199, 74);
  }
  .node-links ul li a, .comment-links ul li a {
    text-transform: lowercase;
    display: block;
    float: inline-block;
    }
  .site-name {
    text-align: center;
    margin-bottom: 10px;
    a {
      color: rgb(0, 25, 55);
      &:hover {
        color: darken(green, 20%);
      }
      &:active {
        color: lighten(green, 20%);
      }
    }
  }
  .block {
    margin-bottom: 20px;
  }
  .pager li.pager-first a, .pager li.pager-previous a, .pager li.pager-next a, .pager li.pager-last a {
    width: 60px;
  }

  #zone-postscript-second-wrapper {
    @include background(image-url('grass.png'));
    min-height: 70px;
  } 
  #zone-footer-wrapper {
    @include background(image-url('dirt.png') rgb(55,23,6));
    position: relative;
    z-index: 2;
    background-repeat: repeat-x;
    background-position: bottom;
    min-height: 168px;
    padding-top: 20px;
    .block {
      
      .block-title {
        @include box-shadow(6px 6px 3px rgba(0,0,0,0.5));
        background-color: rgb(142, 199, 74);
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
        margin-left: 0;
      }
      .content {
        padding: 10px;
        color: #FFF;
        a {
          color: #FFF;
          &:hover {
            color: rgb(142, 199, 74);
          }
        } 
      }
    }
  }
}


.node-title {
  background-color: rgb(93, 44, 15);
  a {
    color: white;
    &:visited {
      color: white;
    }
    &:hover {
      color: rgb(142, 199, 74);
    }
  }
}

.node-title, #page-title {
  text-align: center;
  a {
    text-align: center;
    text-decoration: none;
  }
}

.front {
  .node-title, .block-title {
    background-color: rgb(142, 199, 74);
    border-bottom: none !important;
    a {
      color: black;
      &:visited {
        color: black;
      }
      &:hover {
        color: rgb(93, 44, 15);
      }
    }
  }
  .region-preface-second-inner {
    display: none;
  }
  .views-row {
    border-bottom: 4px solid #044A75;
    margin-bottom: 10px;
    padding-bottom: 10px;
    &.views-row-last {
      border-bottom: none;
    }
  }
}

.region-preface-first-inner, .region-preface-second-inner, .region-preface-third-inner,  .region-content-inner, .region-postscript-first-inner, .region-postscript-second-inner, .region-postscript-third-inner, .region-sidebar-second .block, .region-sidebar-first .block
{
  padding: 5px 15px;
  background-color: white;
  border-radius: 12px 12px 12px 12px;
  border: 10px solid rgb(4, 74, 117);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;

  .block {
    margin-bottom: 20px;
  }
  .block-title {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
  }
}

.region-preface-first-inner, .region-preface-second-inner, .region-preface-third-inner, .region-postscript-first-inner, .region-postscript-second-inner, .region-postscript-third-inner 
{
  margin: 20px 0;
}

// Actual Service node page.
.node-service-page {
  .field-name-field-image {
    float: left;
    margin: 5px 10px;
  }
}
//Services view
.view-services {
  .views-row {
    width: 98%;
    margin: 10px 1%;
    float: left;
    .field-name-field-image {
      float: left;
      margin: 5px 10px;
    }
    .links {
      float: right;
    }
  }
}



//Contact form, though will apply to any webforms.
.node-webform {
  font-size: 110%;  
  input {
    max-width: 100%;
  }
}

//Blog content type styling
.node-blog {
  img {
    max-width: 100%;
    height: auto;
  }

  #upper, #middle, #bottom {
    clear: both;
  }

  .field-name-field-top-left-image, .field-name-field-middle-left-image, .field-name-field-bottom-left-image {
    float: left;
    max-width: 20%;
    margin: 10px;
  }

  .field-name-body, .field-name-field-middle-content, .field-name-field-bottom-content {
    padding-top: 10px;
  }

  .field-name-field-top-right-image, .field-name-field-middle-right-image, .field-name-field-bottom-right-image {
    float: right;
    max-width: 20%;
    margin: 10px;
  }
}

//Portfolio Styling

.page-portfolio {
  #page-title {
    display: none;
  }
  .region-content-inner {
    border: none;
    background-color: transparent;
    @include box-shadow(none);
  }
}

.view-portfolio {
  .node-case-study {
    padding: 5px;
    border: 3px inset #044A75;
    background-color: #033452;
    border-radius: 7px;
  }
  .node-title {
    @include box-shadow(5px 5px 2px rgba(0,0,0, 0.5));
    margin-bottom: 8px;
    padding: 0 5px;
    background-color: rgb(250, 250, 250);
    line-height: 1.2em;
    a {
      color: rgb(142, 199, 74);
      &:hover {
        color: rgb(93, 44, 15);
      }
    }
  }
  img {
    max-width: 100%;
    height: auto;
    @include box-shadow(5px 5px 2px rgba(0,0,0, 0.5));
  }
}


@import 'team';