/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
@import "compass";
#page {
  #page-title {
    width: 110%;
    margin-left: -5%;
  } 
}

.front {
  #block-views-front-page-drop-block-block {
    .node-title {
      width: 128%;
      margin-left: -14%;
      @include box-shadow(8px 8px 4px rgba(0,0,0,.5));
    }
  }
  .region-content {
    .node-title, .block-title {
      width: 114%;
      margin-left: -7%;
    }
  }
  .block-title {
    text-align: center;
    width: 132%;
    margin-left: -16%;
    @include box-shadow(6px 6px 3px rgba(0, 0, 0, 0.5));
  }
  
}